@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
}

.header {
display: flex;
justify-content: space-between;
border-bottom: 1px solid rgb(161, 161, 161);
margin-bottom: 0;
}


h3 {
  font-family: 'Lobster', cursive;
}
.image-explanation-div {
  display: grid;
  grid-template-columns: minmax(280px, 750px) minmax(280px, 750px);
  grid-gap: 5vw;
  margin-left: 5vw;
  margin-top: 10vh;
}

.material-icons {
  padding-top: 2rem;
}

.image-heading {
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: fadeIn 3s; /* Safari 4+ */
  -moz-animation:    fadeIn 3s; /* Fx 5+ */
  -o-animation:      fadeIn 3s; /* Opera 12+ */
  animation:         fadeIn 3s; 
}

.information {
  font-family: 'Raleway', sans-serif;
  -webkit-animation: fadeIn 3s; /* Safari 4+ */
  -moz-animation:    fadeIn 3s; /* Fx 5+ */
  -o-animation:      fadeIn 3s; /* Opera 12+ */
  animation:         fadeIn 3s; 
}

.lists-link {
  position: absolute;
  right: 16px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 3px rgba(72,72,72,.3);
  background-color: white;
  user-select: none;
}

.link {
  text-decoration: none;
  /* font-family: 'Raleway', sans-serif; */
}

#hamburger-menu:hover {
  cursor: pointer;
  user-select: none;
}

#github-icon {
  margin: 5px 8px 5px 5px;
}

.giphy-info {
  display: flex;
  align-items: center;
}

.information2 {
  font-family: 'Raleway', sans-serif;
  color: #6458Ae;
  margin: 5px;
  -webkit-animation: fadeIn 3s; /* Safari 4+ */
  -moz-animation:    fadeIn 3s; /* Fx 5+ */
  -o-animation:      fadeIn 3s; /* Opera 12+ */
  animation:         fadeIn 3s; 
}

.video-explanation-div {
  display: grid;
  grid-template-columns: minmax(280px, 750px) minmax(280px, 750px);
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background: #FCF9FE;
  border-radius: 10px;
}

.right {
  border: solid #6458Ae;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.logo-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  border: solid #6458Ae;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.giphy-embed {
  box-shadow: 0 6px 15px 9px rgba(72,72,72,.4);
  margin-top: 5vh;
  max-width: 100%;
  max-height: 100%;
  width: 480px;
  height: 429px;
  float: left;
}


.main-heading {
  font-family: 'Montserrat', sans-serif;

}

.documentation-sidebar {
  width: 15em;
  padding: 15px;
  /* border-right: 1px solid rgb(161, 161, 161); */
  overflow: scroll;
}

.scroll-header {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: underline;
}

.documentation-sidebar ul {
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  list-style-type: decimal;
}

/* About us page */

.linkedIn {
  color: #0077b5;
}




@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* responsive concerns */

@media only screen and (max-width: 1138px) {
  .information2 {
    font-family: 'Raleway', sans-serif;
    margin-left: 45px;
    -webkit-animation: fadeIn 3s; /* Safari 4+ */
    -moz-animation:    fadeIn 3s; /* Fx 5+ */
    -o-animation:      fadeIn 3s; /* Opera 12+ */
    animation:         fadeIn 3s; 
  }
}

@media only screen and (min-width: 1320px){
  .main-content {
    max-width: 1320px;
    margin: auto;
  }
}