@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Source+Sans+Pro&display=swap');

ul {
  list-style-type: none;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 750px));
  grid-gap: 50px;
  margin-bottom: 35px;
}

.member {
  -webkit-animation: fadeIn 1s; /* Safari 4+ */
  -moz-animation:    fadeIn 1s; /* Fx 5+ */
  -o-animation:      fadeIn 1s; /* Opera 12+ */
  animation:         fadeIn 1s; 
  /* display: flex;
  margin-bottom: 20px;
  border: black;
  border-style: solid;
  border-radius: 10%;
  padding-top: 20px;
  min-width: 700px; */

  
    /* margin-bottom: 20px; */
    /* border: black; */

    /* padding-top: 20px;
    margin-bottom: 20px; */
    /* 
    flex-direction: column;
    min-width: 1111px; */
}

.name {
  /* position: relative;
  left: 47%;
  height: 0px; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.biotext {
  display: flex;
 
  width: 100px;
  padding-left: -100px;
}

.bio{
 padding-left: 20px;
 font-family: 'Raleway', sans-serif;
 font-size: .85rem;
}

.biopic{
  display: flex;
  margin: -40px 20px auto 50px;
}

/* .linkedIn {
 padding: 5px;
} */



.cards {
  display: flex;
  box-shadow: 0 2px 3px 5px rgb(142, 108, 165, .1);
}

/* .icon-and-name {
  display: flex;
  justify-content: center;
} */

.biopictures {
  border-radius: 100px;
  max-width: 200px;
  max-height: 230px;
 float: right;
 margin: 10px;
}

.bio-block {
  text-align: center;
}

.aboutUs-heading {
  display: flex;
  justify-content: center;
}

.icon-and-name {
  margin-top: 10px;
}

.aboutUs {
  border-right: 3px solid rgb(142, 108, 165);
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
}

.github {
  margin-left: 5px;
}

.subheading {
  margin-top: 25px;
}