ul {
  list-style-type: none;
}

.member {
  -webkit-animation: fadeIn 1s; /* Safari 4+ */
  -moz-animation:    fadeIn 1s; /* Fx 5+ */
  -o-animation:      fadeIn 1s; /* Opera 12+ */
  animation:         fadeIn 1s; 
  /* display: flex;
  margin-bottom: 20px;
  border: black;
  border-style: solid;
  border-radius: 10%;
  padding-top: 20px;
  min-width: 700px; */
  display: flex;
    /* margin-bottom: 20px; */
    /* border: black; */

    padding-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    min-width: 1111px;
}

.name {
  /* position: relative;
  left: 47%;
  height: 0px; */
  text-decoration: underline;
  text-align: center;
}

.biotext {
  display: flex;
  padding-top: 20px;
  width: 100px;
  padding-left: -100px;
}

.bio{
  padding-top: 25px;
  padding-right: 50px;
  padding-left: -20px;
  min-width: 819px;
}

.biopic{
  display: flex;
  margin: -40px 20px auto 50px;
}

.linkedIn {
  display: flex;
  position: relative;
  bottom: 50px;
  padding-left: 50px;
}

.linkedIn:hover{
  color: blue;
  transition: all 0.3s ease;
  transform: skew(-10deg);
}

img {
  border-radius: 20%;
  top: 0;
  max-width: 200px;
  max-height: 230px;
  right: 0%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-top: 1%;
  margin-right: 2%;
  width: 40%;
}

