@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Source+Sans+Pro&display=swap');

ul {
  list-style-type: none;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 750px));
  grid-gap: 50px;
  grid-template-rows: 1fr;
  margin-bottom: 35px;
}

.name {
  /* position: relative;
  left: 47%;
  height: 0px; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.biotext {
  display: flex;
 
  width: 100px;
  padding-left: -100px;
}

.bio{
 padding-left: 20px;
 font-family: 'Raleway', sans-serif;
 font-size: .85rem;
}

.biopic{
  display: flex;
  margin: -40px 20px auto 50px;
}

/* .linkedIn {
 padding: 5px;
} */




.cards {
  display: flex;
  box-shadow: 0 2px 3px 5px rgb(142, 108, 165, .1);
  -webkit-animation: fadeIn 1s; /* Safari 4+ */
  -moz-animation:    fadeIn 1s; /* Fx 5+ */
  -o-animation:      fadeIn 1s; /* Opera 12+ */
  animation:         fadeIn 1s;
}

/* .icon-and-name {
  display: flex;
  justify-content: center;
} */

.biopictures {
  border-radius: 100%;
  border: 3px solid rgb(142, 108, 165, .7);
  max-width: 50%;
  max-height: 50%;
 float: right;
 margin: 10px;
}

.bio-block {
  text-align: center;

}

.aboutUs-heading {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.icon-and-name {
  margin-top: 10px;
  /* border-radius: 20px;
  background-color: rgb(142, 108, 165, ); */
}


.aboutUs {
  border-right: 3px solid rgb(142, 108, 165);
  margin-right: 5px;
  margin-top: 10px;
  padding: 10px 15px 10px 10px;

}

.github {
  margin-left: 5px;
  color: rgb(137, 68, 184);
}

.github:hover {
  color: rgba(137, 68, 184, .5);
}

.linkedIn {
  color: rgb(137, 68, 184);
}

.linkedIn:hover {
  color: rgba(137, 68, 184, .5);
}

.subheading {
  margin-top: 33px;
  margin-left: 10px;
}



@media only screen and (max-width: 800px) {
  .form {
    grid-template-columns: minmax(280px, 750px);
  }

  
}